body {
    background: url("../images/ignasi_pattern_s.png");
}

.container {
    margin-top: 20px;
}

.content {
    background: white;
    min-height: 35px;
    padding: 20px;
    width: 250px;
}

.txtbox {
    margin-top: 15px;
    text-align: center;
}

.btn {
    margin-top: 15px;
    text-align: center;
}